@import '../../assets/stylesheets/colors';

.paper {
  padding: 1rem;
}

.breadcrumb-heading {
  display: inline-block;
  padding-right: 0.5rem;
}

.breadcrumb {
  display: inline-block;
}

.title {
  align-items: center;
  background-color: $main-blue;
  color: #fff;
  display: flex;
  font-size: 2.5rem;
  justify-content: center;
  line-height: 2.5rem;
  margin-bottom: 1rem;
  min-height: 8rem;
  padding: 2rem;
}
