@import '~@codelitt/ay-css-library/src/components/brand/colors';

.list {
  display: flex;
  justify-content: flex-end;
  list-style: none;

  a {
    color: $ay-navy-blue-color;
    padding: 0.75rem;
    text-decoration: none;

    &:hover {
      background-color: $ay-navy-blue-color;
      border-radius: 0.75rem;
      color: $ay-white-color;
    }
  }
}
