@import '~@codelitt/ay-css-library/src/components/brand/colors';

.app {
  text-align: center;
}

.app-content {
  align-items: center;
  background-color: $ay-white-color;
  color: $ay-navy-blue-color;
  display: flex;
  flex-direction: column;
  font-size: calc(0.6rem + 2vmin);
  justify-content: center;
  min-height: 100vh;
}
